<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact-us</title>
  <link rel="stylesheet" href="/css/pages/landing.css" />

   <link rel="icon" type="image/x-icon" href="/assets/icons/logo.svg" />

  
   
    <script src="/js/global/faq.js" defer></script>
    <script src="/js/global/form.js" defer></script>
    <script src="/js/global/include.js" defer></script>
</head>
<body>

    <!-- Navigation Header -->
    <div data-include="/templates/components/navbar.html"></div>

    <!-- Contact Form Section -->
    <div data-include="/templates/components/contact-form.html"></div>

    <div data-include="/templates/components/faq.html"></div>

    <!-- Footer Section -->
    <div data-include="/templates/components/footer.html"></div>
  
</body>
</html>