 <header class="header">
      <nav class="navbar-container">
        <a href="/templates/index.html" class="logo">
          <img src="/assets/icons/logo.svg" alt="Radiquolab Logo" />
        </a>
        <div class="nav-menu">
          <a href="/templates/index.html" class="nav-item">Home</a>
          <a href="/templates/about-page.html" class="nav-item">About Us</a>
          <a href="/templates/services-page.html" class="nav-item">Services</a>
          <a href="/templates/training-page.html" class="nav-item">Training</a>
        </div>
        <div class="nav-buttons">
          <a href="/templates/portfolio-page.html" class="btn btn-outline">View Portfolio</a>
          <a href="/templates/contact-us-page.html" class="btn btn-solid">Book a call</a>
        </div>
      </nav>
    </header>